/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 août 2015, 12:40:16
    Author     : YCN
*/

#apropos{
    float: left;
    margin-top: 30px;
}

#apropos span{
    display: block;
    margin: 0 0 30px 0;
    font-size: 26px;
    text-align: left;
    width: 100%;
}

#apropos p{
    text-align: justify;
}